.BlogFrame {
    pointer-events: none;
    position: fixed;
    top: 0;
    width: calc(100vw - 2rem);
    min-height: 97vh;
    height: 97%;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='1.5rem' stroke='black' stroke-width='0.4rem' stroke-dasharray='0.5rem%2c 1rem' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    margin: 1rem;
    border-radius: 1.5rem;
    z-index: 9;

    svg {
        width: 20rem;
        transform: rotate(-20deg);
        margin-left: -1rem;

        &:hover {
            transform: rotate(-20deg) scale(1.025);
        }
    }

    a {
        pointer-events: all;
    }

    @media screen and (max-width: 820px) {
        svg {
            width: 17rem;
        }
    }
}