.Search {

    .mapIcon, .searchText {
        pointer-events: all;
        padding: 0.5rem 0.5rem;
        align-items: center;
        color: white;
        font-weight: bold;
        border-radius: 0.5rem;
        border: 0.1rem dashed transparent;

        svg {
            width: 3rem;
            height: 3rem;
            pointer-events: none;
        }

        &:hover {
            cursor: pointer;
            border: 0.2rem dashed;
        }
    }

    .mapIcon {

        &.active {
            display: none;
        }
    }

    .searchText {
        border: 0.2rem solid;
        color: black;
        display: none;

        &.active {
            display: block;
        }
    }
}