.Search {

    .mapIcon, .searchText {
        pointer-events: all;
        padding: 0.3rem 1rem;
        align-items: center;
        color: white;
        font-weight: bold;
        border-radius: 1rem;
        border: 0.2rem dashed transparent;

        svg {
            width: 3rem;
            height: 3rem;
            pointer-events: none;
        }

        &:hover {
            cursor: pointer;
            border: 0.2rem dashed;
        }
    }

    .mapIcon {

        &.active {
            display: none;
        }
    }

    .searchText {
        left: 14rem;
        border: 0.25rem solid;
        color: black;
        height: 4rem;
        display: none;

        &.active {
            display: block;
        }
    }

    @media screen and (max-width: 950px) {
        .searchText, .mapIcon {
            left: unset;
            right: 13rem;
            max-width: calc(100vw - 15rem);
        }
    }
}