.MallMap {
    position: fixed;
    min-height: 100vh;
    width: 100vw;
    justify-content: space-between;
    padding: 0rem 5rem;
    z-index: 8;
    pointer-events: none;

    h3 {
        margin-bottom: 0.5rem;
    }

    .youAreHere {
        display: flex;
        height: 2rem;
        width: 15rem;
        position: relative;
        text-shadow: white;
        transform: rotate(-15deg);
        align-items: center;
        transition: top 0.4s ease, right 0.4s ease;

        img {
            height: 100%;
            margin-right: 0.75rem;
        }
    }

    .youAreHereText {
        display: flex;
        align-items: center;
        margin-top: -2rem;

        img {
            margin-right: 0.25rem;
            width: 1.5rem;
        }
    }

    .mapIcon {
        height: min-content;
        bottom: 2rem;
        left: 3rem;
        position: fixed;
        pointer-events: all;
        z-index: 8;
        padding: 0.3rem 1rem;
        display: flex;
        align-items: center;
        color: white;
        font-weight: bold;
        border-radius: 1rem;
        border: 0.2rem dashed transparent;

        svg {
            width: 3rem;
            height: 3rem;
            pointer-events: none;
        }

        &:hover {
            cursor: pointer;
            border: 0.2rem dashed;
        }
    }

    .svgContainer {
        width: 55rem;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        position: sticky;
        top: 0px;
    }

    .mapContainer {
        width: 100%;
        min-height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        background: white;
        justify-content: space-between;
        display: flex;
        padding: 0 5rem;
        opacity: 0;
        transform: scale(0.9);
        transition: all 0.4s ease;
        overflow: auto;
        height: 0rem;

        &.active {
            pointer-events: all;
            transform: scale(1);
            opacity: 1;
        }

        .menuText {
            margin-top: 15rem;
            min-width: 17rem;
            line-height: 2rem;

            h4 {
                margin-bottom: -1rem;
            }
    
            .store {
                position: relative;
                margin-left: 1rem;
                padding-left: 0.5rem;
    
                &:before {
                    content: '';
                    position: absolute;
                    left: -1rem;
                    width: 0.75rem;
                    height: 0.75rem;
                    background: black;
                    top: 0.5rem;
                }
            }
    
            .home:before {
                background: #04d5d5;
            }
            .about:before {
                background: #ed0a85;
            }
            .contact:before {
                background: #10b58d;
            }
            .post:before {
                background: #f0e921;
            }
    
            .recentPosts {
                display: grid;
                grid-template-columns: repeat(2, auto);
                grid-template-rows: repeat(5, auto);
                grid-auto-flow: column;
                grid-column-gap: 2rem;
            }
        }
    }

    a:hover {
        text-decoration: underline;
    }

    text {
        pointer-events: none;
    }

    svg:not(.mapIcon) path:hover, rect:hover {
        filter: brightness(0.75);
        cursor: pointer;
    }

    @media screen and (max-width: 950px) {

        .mapIcon {
            left: unset;
            right: 2rem;
        }
        
        .mapContainer {
            padding: 0 3.5rem;

            .youAreHereText, .youAreHere {
                display: none;
            }

            .menuText {
                width: 100%;
                line-height: 1.5rem;

                h4 {
                    margin-bottom: 0rem;
                }

                .store:before {
                    top: 0.5rem;
                }

                .recentPosts {
                    grid-template-columns: auto;
                    grid-template-rows: repeat(10, auto);

                    .recentIndex, .vacant {
                        display: none;
                    }
                }
            }

            .svgContainer {
                display: none;
            }
        }
    }
}