.PostMap {
    .map {
        position: relative;
        left: calc(0px - (100vw - 800px) / 2);
        z-index: 1;
        clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
        width: fit-content;

        h3 {
            margin: 0rem;
        }
    }

    @media screen and (max-width: 820px) {
        .map {
            left: -2rem;
        }
    }
}