.zaggedHeading {
    color: white;
    height: 13rem;
    display: flex;
    align-items: center;
    background-size: contain;
    line-height: 5rem;
    width: fit-content;
    max-width: 90vw;
    
    transition: opacity 0.4s ease;
    opacity: 0;
}