.outerCircle {
    width: 250px;
    height: 250px;
    border: 4px solid;
    border-radius: 999rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -8rem;
    transform: rotate(25deg);
    overflow: hidden;

    svg {
        overflow: auto !important;
        transform-origin: unset !important;
    }

    .innerCircle {
        width: 230px;
        height: 230px;
        border-radius: 999rem;
        border: 3px dashed transparent !important;

        .topText {
            fill: none;
            stroke: none;
            animation: 'rotate' 45s linear infinite;

            textPath {
                font-family: social-gothic-rough, sans-serif;
                font-size: 56px;
                text-transform: uppercase;
            }

            .locationPath {
                transform-origin: center;
                transform: rotate(180deg);
            }
        }
    }

    .patchCenter {
        width: 155px;
        height: 155px;
        position: absolute;
        border-radius: 999rem;
    }

    @media screen and (max-width: 1300px) {
        transform: rotate(25deg) scale(0.75);
        right: -8rem;
    }
}